/* add your CSS here */
* {
    box-sizing: border-box;
}
.city {
     padding: 10px;
    font-weight: bold;
} 
span {
    font-weight: bold;
}

.tacowrapper {
    border: 1px solid gray; width: 340px; padding: 15px;
    /* border-style: solid; */
}

.img-wrapper {
    text-align: center;
}

ul {
    list-style: none; margin: 3px; padding: 3px;
}

.wrapper {
    border: 1px solid gray; width: 300px; padding: 10px; margin: 10px auto;
}

h3 {
    color: green;
    margin: 0;
}